
@media screen and (max-width: 1300px) {
  .container {
    width: 1170px;
  }
 
}
/* 993-1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .partner__form {
    margin-left: 0;
  }
  .start__info {
    width: 43%;
  }
  .power__wrap {
    padding: 0;
  }
}

/* 769-993px */
@media screen and (max-width: 993px) {
  .container {
    width: 90%;
  }
  .banner-part__wrap {
    margin-left: 0;
  }
  .discover__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover__left {
    margin-bottom: 40px;
    width: 100%;
  }
  .discover__right {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .power__wrap  {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .power__item {
    width: 50%;
    margin-bottom: 30px;
  }
  .start__img {
    width: 323px;
    height: 508px;
    margin-left: 0;
  }
  .start__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .start__info {
    width: 100%;
    margin-bottom: 30px;
  }
  .start__left {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
}

/* 577-768px */
@media screen and (max-width: 768px) {
  .title-l {
    font-size: 40px;
  }
  .banner-part {
    padding: 90px 0;
  }
  p,
  li,
  .submit__wrap-item label,
  .partner-form__item span {
    font-size: 20px;
  }
  .discover,
  .power,
  .partner-form {
    padding: 40px 0;
  }
  .discover__img {
    width: 377px;
    height: 296px;
}
.start__info ul li {
  min-height: 40px;
  padding-left: 70px;
  margin-bottom: 32px;
}
.start__info ul li::before {
  font-size: 40px;
}
.start__img {
  width: 194px;
  height: 309px;
}
.partner-form__item-wrap {
  width: 100% !important;
}
.submit__wrap {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.submit__wrap-item {
  margin-right: 0;
  margin-bottom: 30px;
}
.banner-part__wrap p br {
  display: none;
}
}


/* 320-576px */
@media screen and (max-width: 576px) {
  .btn {
    width: 100%;
}
.discover__img {
  width: 100%;
  height: auto;
}
.power__item {
  width: 100%;
}
.power__wrap {
  margin-bottom: 26px;
}
.start__info ul li:not(:last-child) {
  margin-bottom: 30px;
}
.start__info ul li br {
  display: none;
}
.submit__wrap-item label {
  font-size: 16px;
}
}

@media screen and (max-width: 375px) {
  .btn {
    font-size: 26px;
  }
  .submit__wrap-item label {
    font-size: 15px;
  }
}
